.box-shadow(@vdistance, @blur, @opacity) {
  box-shadow:0 @vdistance @blur rgba(0,0,0,@opacity);
  -moz-box-shadow:0 @vdistance @blur rgba(0,0,0,@opacity);
  -webkit-box-shadow:0 @vdistance @blur rgba(0,0,0,@opacity);
}

.inset-box-shadow(@vdistance, @blur, @opacity) {
  box-shadow:inset 0 @vdistance @blur rgba(0,0,0,@opacity);
  -moz-box-shadow:inset 0 @vdistance @blur rgba(0,0,0,@opacity);
  -webkit-box-shadow:inset 0 @vdistance @blur rgba(0,0,0,@opacity);
}

.border-radius(@radius) {
  border-radius:@radius;
  -moz-border-radius:@radius;
  -webkit-border-radius:@radius;
}

.circle {
  border-radius:500px;
  -moz-border-radius:500px;
  -webkit-border-radius:500px;
}

.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

body {
  font-family:"Helvetica", "Lucida Grande", "Arial", "sans-serif";
  input, select {
    font:"Helvetica", "Lucida Grande", "Arial", "sans-serif";
  }  
}

.pane {
  position:fixed;
  width:30%;

  div {
    padding:1em;
    margin:0;
  }

  &#top_pane {
    background:#ffffe5;
    border-bottom:1px solid #ccc;
    margin-top:-168px;
    z-index:90;
    .box-shadow(0px, 10px -2px, .4);

    span {
      display:block;
    }

    #filters {
      form {
        font-size:85%;

        .filter_search {
          .border-box;
          .border-radius(5px);
          .inset-box-shadow(1px, 2px, .15);
          border:1px solid #ccc;
          display:block;
          margin:0;
          margin-bottom:.5em;
          outline:none;
          padding:.5em;
          width:100%;

          &:focus {
            border-color:#666;
          }
        }

        #filter_sort, #filter_major, #filter_credits {
          margin-bottom:.5em;
          width: 100%;

          input[type="checkbox"] {
            margin-left: 4px;
          }
        }

        #filter_major {
          margin-bottom: 0;
        }
      }
    }
  }
}

#classes {
  .box-shadow(0, 9px, .3);
  float: left;
  padding-top:168px;
  position:relative;
  width: 30%;
  z-index:30;

  .class {
    border-top:1px solid #ccc;
    cursor:pointer;
    padding:1em;

    &.repeat {
      border:none;
      border-top:1px dashed #ccc;
      font-size:85%;
      overflow:hidden;
      padding-left:2em;

      span.title, span.credits, .details span.crn, 
      .details span.course_number, .details span.date, 
      .details span.attribute {
        display:none;
      }

      span.professor {
        .color_block {
          border:1px solid #666;
          display:inline-block;
          height:.77em;
          margin-right:.25em;
          width:.77em;
        }
      }

      .details {
        border-top:none;
        padding-top:0;
      }
    }

    &.repeat_hide {
      border-top-style:solid;
      font-size:100%;
      margin-left:0;
    }

    &.full, &.inactive {
      display:none;
    }

    span {
      display:block;

      &.title {
        font-size:125%;
        font-weight:bold;
        margin-bottom:.25em;

        .color_block {
          border:1px solid #666;
          display:inline-block;
          height:.77em;
          margin-right:.25em;
          width:.77em;
        }
      }

      &.credits, &.capacity {
        background:#ddd;
        float:right;
        margin-left:.15em;
        padding:.1em .25em;
      }

      &.credits:after {
        content: ' credit(s)';
      }
      &.capacity {
        &.warning {
          color:#ff0000;
        }
      }
    }

    .details {
      border-top:1px dashed #ccc;
      display:none;
      margin-top:1em;
      padding-top:1em;

      span {
        &.location:before {
          content: 'Location: ';
        }
        &.date:before {
          content: 'Date Range: ';
        }
        &.crn:before {
          content: 'CRN: ';
        }
        &.course_number:before {
          content: 'Course Number: ';
        }
        &.attribute:before {
          content: 'Attributes: ';
        }
      }
    }

    &:hover, &.active {
      background:#eee;

      .details {
        display:block;
      }
    }
  }
}

#weekview {
  position:fixed;
  right:0;
  width:70%;

  .day {
    background:#eee;
    float:left;
    height:900px;
    position:relative;
    width:20%;

    &.color {
      background:#e0e0e0;
    }

    .cal_class {
      .border-radius(3px);
      .box-shadow(2px, 6px, .25);
      border:1px solid #666;
      cursor:pointer;
      font-weight:bold;
      margin:0 5%;
      overflow:hidden;
      position:absolute;
      width:90%;
      z-index:10;

      &.collision {
        border:1px solid red;
      }

      p {
        margin:0;
        padding:.5em;
      }

      .details {
        display:none;
        font-size:85%;
        font-weight:normal;
        padding:.5em 0;

        span {
          display:block;
          padding:0 .5em;

          &.credits:after {
            content: ' credit(s)';
          }
          &.capacity:after {
            content: ' seats taken';
          }
          &.professor:before {
            content: 'Prof: ';
          }
          &.location:before {
            content: 'Location: ';
          }
          &.date:before {
            content: 'Date Range: ';
          }
          &.crn:before {
            content: 'CRN: ';
          }
          &.course_number:before {
            content: 'Course Number: ';
          }
          &.attribute:before {
            content: 'Attributes: ';
          }
        }
      }

      &.active {
        .summary {
          display:none;
        }

        .details {
          display:block;
        }
      }
    }
  }

  .collision_warning {
    .box-shadow(2px, 6px, .35);
    .circle;
    background:red;
    color:#fff;
    display:block;
    font-weight:bold;
    height:30px;
    left:90%;
    line-height:30px;
    margin-top:3px;
    position:absolute;
    text-align:center;
    width:30px;
    z-index:20;
  }

  #Friday .collision_warning {
    left:-7%;
  }

  #time_indicators {
    div {
      border-top:1px solid #c0c0c0;
      color:#333;
      font-size:80%;
      padding-right:1%;
      position:absolute;
      text-align:right;
      width:99%;
    }
  }
}
